@import url('../geral/style.css');
main {
    background-color:white;
    border-radius:20px;
    min-height: 96vh;
    height: 100%;
    width: 100%;
}

.opcoes{
    padding:15px;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    display:flex;
    width:100%;
}

.opcoes>span{
    font-size:25px;
}
#adicionar{
    background-color:#6EDF80;
    border-radius:10px;
    color:white;
    outline:none;
    padding:10px;
    border:none;
    width:40%
}

.legenda{
    margin-top:20px;
    width:100%;
    justify-content:space-around;
    display:flex;
}
.legenda>span{
    display:flex;
    align-items:center;
}
.leg{
    width:30px;
    height:30px;
    margin-right:10px;
    border-radius:50px;
}

.orange{
    background-color:rgb(255, 181, 43);
}
.purple{
    background-color:purple;
}

.container{
    width: 100%;
    margin-top:20px;
    display:flex;
    align-items:center;
    justify-content:space-around;
}
#procurar {
    background-image: url("./assets/lupa.png");
    background-position: 5px 6px;
    background-repeat: no-repeat;
    background-color:#d6d6d6;
    padding:5px 0px 5px 35px;
    background-size: 24px;
    border-radius:20px;
    font-size:20px;
    border:none;
    width:42%;
}
#procurar:focus{
    outline:none;
}
#type{
    width:30px;
    height:30px;
    border-radius: 50px;
    border:none;
}
#organizador {
    background-image: url("./assets/downarrow.png");
    background-position: right 5px;
    background-repeat: no-repeat;
    background-color:#d6d6d6;
    padding:5px 0px 5px 10px;
    background-size: 26px;
    border-radius:20px;
    appearance:none;
    font-size:20px;
    border:none;
    width:40%;
}
#organizador:focus{
    outline:none;
}

table{
    font-size:15px;
    margin-top:20px;
    width:100%;
}
td, th{
    text-align:center;
    padding:4px
}

.gray{
    background-color:#C4C4C4;
}

.model{
    display:none;
}
a>img{
    width:20px;
}

.descricao{
    word-wrap: break-word;
    max-width: 130px;
}